

html {
  background: #1A1A1A !important;
}

body{
  background: #1A1A1A !important;
}

.container {
  margin-top: 200px;
}

p {
    font-family: Inter UI;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 120px;

  color: #FFFFFF;  
}

#red {
  color: #FF5252
}

p#position  {
  font-size: 30px;
}
/*
@media screen and (max-width: 600px) {
  #title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
*/
.navbar {
    /*position: fixed;*/
    top: 180px;
    height: 1%;
    right: -150px;
    z-index: 99;
}

.navbar ul {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

a p{
  font-size: 25px;
}

.nav {
  display: inline-flex;
}

.nav>li>a:focus, .nav>li>a:hover { 
  background-color: #FF5252 !important;
}
