@import url('https://rsms.me/inter/inter-ui.css');


html {
  background: #1A1A1A !important;
}

body{
  background: #1A1A1A !important;
}

.container {
  margin-top: 200px;
}

p {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 120px;

  color: #FFFFFF;  
}

#red {
  color: #FF5252
}

p#position  {
  font-size: 28px;
}

.navbar {
    position: fixed;
    margin-top:200px;
    right: -150px;
    z-index: 99;
}

.navbar ul {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

a p{
  font-size: 25px;
}

.nav {
  display: inline-flex;
}

.nav>li>a:focus, .nav>li>a:hover { 
  background-color: #FF5252 !important;
}

@media screen and (min-width: 1024px) {
  #onlymobile {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 100px;
  }

  p {
    font-size: 1.5em;
  }

  .mobile-nav {
    display: inline-flex;
  }

  ul {
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 15px;

  }

  li {
    display: inline-flex;
  }

  li a p {
    font-size: 1.2em;
    color: #0097A7
  }

  #nomobile {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .name {
    font-size: 90px;
  }
}
